
:root {
  --dark-color: #444444;
  --accent-color: #009a5b;
  --secondary-color: #b3e1ce;
}
* {
    font-family: 'Courier New', Courier, monospace
}
body {
    background-color: var(--secondary-color);
    text-align: center;
}


.main-title {
    color: white;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

.main-container {
    background-color: var(--dark-color);
    width: 80%;
    margin: 0 auto;
    min-height: 50vh;
    padding: 20px;
}

.add-task-bar {
  display: flex;
}

.add-btn {
    background-color: var(--accent-color);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    font-weight: bold;
}

.add-btn:active {
    background-color:var(--secondary-color);
}

.add-input {
    padding: 10px;
    font-size: 1em;
    border-radius: 4px;
    flex: 1;
}
.add-input:focus {
    outline: none;
}
.add-input::placeholder {
    color: #ccc;
}
